/* --------------------------------RESET-------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------RESET-------------------------------- */

/* --------------------------------NAVIGATION-------------------------------- */

nav {
  background-color: #333;
}

nav li {
  padding: 20px 20px;
}

nav a {
  color: white;
  letter-spacing: 2.5px;
  font-size: 1.2em;
}

.active {
  color: rgb(231, 203, 187);
}

/* --------------------------------NAV-------------------------------- */

/* --------------------------------HEADER-------------------------------- */

.headerJumbo {
  min-height: 100vh;
  background: url(backHeader.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  letter-spacing: 2px;
  
}

.headerJumbo .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerJumbo h1 {
  font-size: 3rem;
  line-height: 4rem;
}

.headerJumbo p {
  font-size: 2rem;
  line-height: 4rem;
}

/* --------------------------------HEADER-------------------------------- */

/* --------------------------------I AM-------------------------------- */

.iamJumbo {
  min-height: 100vh;
  background: url(backIam.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#iamLeft {
  height: 80vh;
  width: 33%;
  border-radius: 20px;
  align-self: center;
  margin-left: 40px;
  padding: 20px 20px;
  background-color: rgba(51,3,0,0.4);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
}

#iamLeft img {
  float: left;
  margin: 10px;
}

#iamLeft ul {
  float: left;
  margin: 10px;
  line-height: 30px;
  font-size: 1.1rem;
}

.myInfoListHeaders {
  color: rgb(231, 203, 187);
}

#iamRight {
  text-align: center;
  height: 80vh;
  width: 33%;
  border-radius: 20px;
  align-self: center;
  margin-right: 40px;
  padding: 20px 20px;
  background-color: rgba(51,3,0,0.4);
  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.6);
}

#iamTable {
  width: 100%;
}

.tdHeader {
  width: 90%;
}

.tdButton {
  width: 10%;
}

#infoDiv{
  color: rgb(231, 203, 187);
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 5px 0;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}

#iamRight button {
  background-color: transparent;
  border: none;
  color: darkturquoise;
  outline: none;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-1.25em);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* --------------------------------I AM-------------------------------- */

/* --------------------------------I CAN-------------------------------- */

.iCanJumbo {
  min-height: 100vh;
  background: url(backIcan.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#iCanList {
  height: 80vh;
  width: 25%;
  align-self: center;
  margin-left: 50px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.4);
  box-shadow: 5px -5px 5px 5px rgba(255, 255, 255, 0.4);
}

#iCanExamples {
  text-align: center;
  height: 80vh;
  width: 75%;
  align-self: center;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(83, 83, 83, 0.5);
  box-shadow: -5px -5px 5px 5px rgba(255, 255, 255, 0.4);
  animation: 1s ease-out 0s 1 iCanExamplesVisible;
}

#iCanList h2 {
  text-align: center;
  letter-spacing: 2px;
}

#iCanList ul {
  letter-spacing: 1px;
}

#iCanList li {
  width: 100%;
  padding: 15px 0;
}

#iCanList li button {
  float: right;
  background-color: transparent;
  border: none;
  color: darkturquoise;
  outline: none;
}

@keyframes iCanExamplesVisible {
  from {
    background-color: rgba(83, 83, 83, 0.0);
    box-shadow: -5px -5px 5px 5px rgba(255, 255, 255, 0.0);
  }

  to {
    background-color: rgba(83, 83, 83, 0.5);
    box-shadow: -5px -5px 5px 5px rgba(255, 255, 255, 0.4);
  }
}

/* --------------------------------I CAN-------------------------------- */

/* --------------------------------CONTACT-------------------------------- */

.contactJumbo {
  min-height: 100vh;
  background: url(backContact.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contactJumbo h2 {
  letter-spacing: 2px;
}

#contactFormTainer {
  text-align: center;
  height: 80vh;
  width: 33%;
  align-self: center;
  margin-left: 50px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.4);
  box-shadow: 5px -5px 5px 5px rgba(255, 255, 255, 0.4);
}

#contactForm {
  text-align: left;
  padding: 20px;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

#contactForm button {
  background-color: rgba(0, 130, 133, 0.8);
  color: darkturquoise;
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px -1px 3px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

#contactForm button:hover {
  box-shadow: inset -1px 1px 1px 2px rgba(0, 0, 0, 1.0);
  font-size: 1.2rem;
}

.contactInput {
  margin: 10px 0;
  width: 100%;
  height: 5vh;
  padding: 10px;
  color: rgb(231, 203, 187);
  background-color: rgba(0, 130, 133, 0.8);
  border: none;
  border-radius: 10px;
  box-shadow: inset -2px 2px 3px 2px rgb(36, 36, 36);
  outline: none;
}

#message {
  height: 15vh;
  padding-top: 12px;
}

#contactInfo {
  text-align: center;
  height: 25vh;
  width: 50%;
  margin-top: 95px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.4);
  box-shadow: 5px -5px 5px 5px rgba(255, 255, 255, 0.4);
}

.fab {
  font-size: 5rem;
  padding: 30px 40px;
  color: darkturquoise;
}

.fab:hover {
  color: rgba(0, 162, 165, 0.8);
}

/* --------------------------------CONTACT-------------------------------- */

/* --------------------------------FOOTER-------------------------------- */

.footerJumbo {
  min-height: 20vh;
  background-color: #333;
  color: darkturquoise;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#footerLeft {
  align-self: center;
  letter-spacing: 2px;
}

#footerLeft .fas {
  font-size: 1.0rem;
  padding: 0 10px;
}

#footerLeft address {
  line-height: 25px;
  padding-bottom: 20px;
}

/* --------------------------------FOOTER-------------------------------- */

/* --------------------------------YLEISET MUUT-------------------------------- */

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skillLevelBar {
  width: 100%;
  height: 8%;
  margin: 10px 0;
  background-color: rgba(138, 138, 138, 0.95);
  box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.75);
  border-radius: 10px;
  animation: 1s ease-out 0s 1 skillLevelBarVisible;
}

.skillLevel {
  position: relative;
  display: flex;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.95);
  box-shadow: inset 0px 0px 5px 1px rgba(170, 170, 170, 0.75);
  border-radius: 10px;
  animation: 1s ease-out 0s 1 widthIncrease;
}

.skillLevel h5 {
  position: absolute;
  padding-right: 10px;
  right: 0;
  z-index: 10;
  align-self: center;
  white-space: nowrap;
}

@keyframes widthIncrease {
  from {
    width: 0%;
  }

  to {
    width: inline;
  }
}

@keyframes skillLevelBarVisible {
  from {
    background-color: rgba(138, 138, 138, 0.0);
    box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.0);
  }

  to {
    background-color: rgba(138, 138, 138, 0.95);
    box-shadow: inset 0px 0px 10px 2px rgba(34, 34, 34, 0.75);
  }
}

/* --------------------------------YLEISET MUUT-------------------------------- */

/* --------------------------------TEMPORARY-------------------------------- */


/* --------------------------------TEMPORARY-------------------------------- */
