/* --------------------------------RESET-------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------RESET-------------------------------- */

/* --------------------------------NAV-------------------------------- */

nav {
  background-color: #333;
}

nav li {
  padding: 20px 20px;
}

nav a {
  color: white;
  letter-spacing: 2.5px;
  font-size: 1.2em;
}

/* --------------------------------NAV-------------------------------- */

/* --------------------------------HEADER-------------------------------- */

.headerJumbo {
  min-height: 100vh;
  background: url(backHeader.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  letter-spacing: 2px;
  
}

.headerJumbo .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerJumbo h1 {
  font-size: 3rem;
  line-height: 4rem;
}

.headerJumbo p {
  font-size: 2rem;
  line-height: 4rem;
}

/* --------------------------------HEADER-------------------------------- */

/* --------------------------------I AM-------------------------------- */

.iamJumbo {
  min-height: 100vh;
  background: url(backIam.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#iamLeft {
  height: 80vh;
  width: 33%;
  border-radius: 20px;
  align-self: center;
  margin-left: 40px;
  padding: 20px 20px;
  background-color: rgba(51,3,0,0.4);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
}

#iamLeft img {
  float: left;
  margin: 10px;
}

#iamLeft ul {
  float: left;
  margin: 10px;
  line-height: 30px;
  font-size: 1.1rem;
}

.myInfoListHeaders {
  color: rgb(231, 203, 187);
}

#iamRight {
  text-align: center;
  height: 80vh;
  width: 33%;
  border-radius: 20px;
  align-self: center;
  margin-right: 40px;
  padding: 20px 20px;
  background-color: rgba(51,3,0,0.4);
  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.6);
}

#iamRight p {
  color: rgb(231, 203, 187);
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 5px 0;
}

.showDetailsBtn {
  background-color: transparent;
  border: none;
  color: darkturquoise;
}

/* --------------------------------I AM-------------------------------- */

/* --------------------------------I CAN-------------------------------- */

.iCanJumbo {
  min-height: 100vh;
  background: url(backIcan.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#iCanList {
  height: 80vh;
  width: 25%;
  align-self: center;
  margin-left: 50px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.4);
  box-shadow: 5px -5px 5px 5px rgba(255, 255, 255, 0.4);
}

/* --------------------------------I CAN-------------------------------- */

/* --------------------------------CONTACT-------------------------------- */

.contactJumbo {
  min-height: 100vh;
  background: url(backContact.jpg);
  background-size: 100% 100%;
  color: darkturquoise;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#contactFormTainer {
  text-align: center;
  height: 80vh;
  width: 33%;
  align-self: center;
  margin-left: 50px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.4);
  box-shadow: 5px -5px 5px 5px rgba(255, 255, 255, 0.4);
}

#contactInfo {
  text-align: center;
  height: 25vh;
  width: 50%;
  margin-top: 95px;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(97, 97, 97, 0.4);
  box-shadow: 5px -5px 5px 5px rgba(255, 255, 255, 0.4);
}

/* --------------------------------CONTACT-------------------------------- */

/* --------------------------------FOOTER-------------------------------- */

.footerJumbo {
  min-height: 20vh;
  background-color: #333;
  color: darkturquoise;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#footerLeft {
  align-self: center;
}

#footerRight {
  align-self: center;
}

/* --------------------------------FOOTER-------------------------------- */

/* --------------------------------YLEISET MUUT-------------------------------- */

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* #root {
  min-height: 100vh;
  position: relative;
} */

/* --------------------------------YLEISET MUUT-------------------------------- */

/* --------------------------------TEMPORARY-------------------------------- */


/* --------------------------------TEMPORARY-------------------------------- */
